@font-face {
    font-family: head_font;
    src: url("../fonts/Gloria_Hallelujah/GloriaHallelujah.ttf");
}

@font-face {
    font-family: article_font;
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: article_font, sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-family: article_font, sans-serif;
	margin: 16px 0 8px 0;
}

pre {
	font-size: 14px;
	white-space: pre;
	text-align: left;
	background-color: #dfdfdf;
	border-radius: 5px;
	color: #2a2a2a;
	padding: 10px;
	overflow: auto;
	word-spacing: 3px;
	border: solid 1.5px #b9b7b7;
}

em {
	border-radius: 5px;
	padding: 1px 6px;
	background-color: #dedede;
	color: black;
}


/************************  Welcome Page  ************************/


#welcome-body {
	background: url('../image/welcome-background.jpg') no-repeat center center fixed;
	background-size: cover;
	white-space: nowrap;
}

#welcome-middle {
	margin-top: 7%;
	text-align: center;
}

#welcome-middle p {
	font-size: 60px;
	color: white;
	margin: 24px 0;
	text-shadow: 0 0 16px black;
}

#welcome-button {
	margin-top: 64px;
	text-align: center;
}

#welcome-button ul {
	list-style-type: none;
	padding: 0;
}

#welcome-button ul li {
	display: inline-block;
	width: 96px;
	line-height: 24px;
	margin: 0 24px;
	border:3px solid white;
	border-radius: 10px;
	padding:8px 16px;
	font-size: 20px;
}

#welcome-button ul li a {
	color: white;
}

#en a {
	padding:8px 4px;
}

#cn a {
	padding:8px 24px;
}

#en:hover {
	background-color: rgba(0, 37, 218, 0.5);
}

#cn:hover {
	background-color: rgba(210, 0, 0, 0.5);
}

#welcome-bottom {
	position: fixed;
	bottom: 5px;
	text-align: center;
	margin: auto;
	width: 100%;
}

#welcome-bottom p {
	color: white;
}


/************************  top area  ************************/


.top {
	height: 42px;
}

.top-content {
	position: absolute;
	left: 40px;
	top: 50px;
	overflow: hidden;
}

.website-name {
	font-family: head_font, cursive;
	position: fixed;
	font-size: 30px;
	color: orange;
	z-index: 2;
	line-height: 30px;
	top: 6px;
	left: 60px;

}

.website-name:hover {
	color: #77a766;
}

.stick {
	font-family: article_font, serif;
	font-size: 56px;
	position: relative;
	bottom: 4px;
}

.website-intro {
	font-family: head_font, cursive;
	font-size: 28px;
	margin-left: 24px;
}

#fork-me {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 2;
}

#fork-me img {
	max-width: 120px;
}

.language-switch {
	position: absolute;
	top: 8px;
	right: 160px;
	z-index: 2;
	width: 90px;
	border-radius: 10px;
	padding: 1px 6px;
	margin: 0;
	list-style-type: none;
	background: linear-gradient(to right, rgba(0, 37, 218, 0.8), rgba(210, 0, 0, 0.8));
}

.language-switch li{
	display: inline;
	color: white;
}

.language-switch a {
	color: white;
	padding: 0 10px;
	font-size: 12px;
}

/************************  navigation  ************************/


.main-nav {
	background-color: #4e4e4e;
	position: fixed;
	height: 42px;
	text-align: center;
	width: 100%;
	top: 0;
	transition: 300ms;
	opacity: 0.9;
	z-index: 1;
}

.nav-content {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: 8px;
}

.nav-content li {
	display: inline;
}

.nav-button {
	padding: 3px 20px;
	border: 0;
	border-radius: 10px;
	font-size: 18px;
    transition: 200ms ease-out;
	color: white;
	opacity: 0.9;
}

.nav-button:hover {
	border-left: 3px solid orange;
	border-right: 3px solid orange;
	font-size: 20px;
}

/************************  article entry: main body  ************************/


.main-body {
	width: 70%;
	margin: 10px auto 40px auto;
	min-height: 400px;
}

article {
	margin: 40px auto;
	padding: 12px 24px;
	border-style: outset;
	border-width: 3px 0 3px 0;
	border-radius: 8px;
	border-color: #3d903d;
	animation:blog_appear 1s;
	animation-timing-function:cubic-bezier(0.19, 0.74, 0.21, 1.23);
}

article:hover {
	box-shadow: 0 0 10px #6b6464;
}

@keyframes blog_appear {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@-webkit-keyframes blog_appear {
	from {
		opacity: 0;
		top: 10px;
	}
	to {
		opacity: 1;
		top: 0;
	}
}

header {
	margin-bottom: 16px;
}

.article-body a {
	text-decoration: none;
	text-transform: none;
	color: #4c8423;
}

.article-body p {
	line-height: 24px;
}

.article-body a:hover {
	text-decoration: underline;
}

.article-body img {
	display: block;
	max-width: 500px;
	margin: auto;
	border-radius: 15px;
}

.article-body ul li {
	font-size: 16px;
}

footer {
	position: relative;
	height: 28px;
}

.more-button {
	position: absolute;
	right: 0;
	padding: 4px 16px;
	font-size: 16px;
	color: #076b00;
	background-color: white;
	border: 2px solid #076b00;
	border-radius: 16px;
	transition: 200ms;
}

.more-button:hover {
	background-color: #076b00;
	color: white;
}


/************************  text in article  ************************/


.article-title:hover {
	color: #77a766;
}

.line {
	border-top: 2.5px solid;
	border-color: #3d903d;
	border-radius: 5px;
}


/************************  bottom  ************************/


.bottom {
	background: -webkit-linear-gradient(170deg, #4e4e4e, #185011);
	background: linear-gradient(170deg, #4e4e4e, #185011);
	margin: 0;
	height: 230px;
	color: #f1b94d;
	position: relative;
}

.info {
	width: 70%;
	height: 75%;
	margin: auto;
}

.info a {
	color: #f3e6e6;
}

.info-left {
	float: left;
	width: 340px;
	margin-left: 50px;
}

#info-left-text1 {
	font-size: 24px;
}

#info-left-text2 {
	margin: 16px 0;
}

.info-right {
	float: right;
	margin: 50px 50px 0 0;
}

#info-right-text1 {
	font-size: 20px;
}

#info-right-text2 {
	margin: 16px 0;
	color: #f3e6e6;
}

.site-mark {
	text-align: center;
	color: #f3e6e6;
}


/************************  error page  ************************/


/* Work-in-progress setting */
.work-in-progress-title {
	text-align: center;
	margin: 64px 0;
	font-size: 32px;
}

.not-found {
	display: block;
	margin: auto;
	max-width: 400px;
}


/************************  service page  ************************/


.instruction {
	width: 70%;
	margin: 40px auto;
	background-color: #ecc06e;
	padding: 8px 24px;
	border-radius: 8px;
}

.instruction ul li {
	font-size: 16px;
	margin-bottom: 10px;
}

.input-area {
	width: 70%;
	margin: 24px auto;
	background-color: #d4d3d2;
	padding: 16px 24px;
	border-radius: 8px;
}

.input-area p {
	margin-bottom: 8px;
}

#input-line  {
	margin: 10px 0 20px 0;
	width: 180px;
	height: 20px;
	padding: 3px;
	font-size: 16px;
	display: block;
}

.submit-button {
 	margin-top: 20px;
	font-size: 16px;
	padding: 3px 8px;
}

.password-area {
	width: 70%;
	margin: 24px auto;
	padding: 1px 24px;
	border-radius: 8px;
	background-color: #292926;
	text-align: center;
}

.password-area p {
	color: white;
}


/************************  PyNotes Page  ************************/

/** start working here **/

.pynotes-header {
	text-align: center;
	margin-top: 20px;
}

#python-symbol {
	font-size: 90px;
	background: linear-gradient(135deg, #4789bf, #2d689a 49%, #1d4465 50%, #ffea69 51%, #ffdc3c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;

}

.jumper-line {
	position: absolute;
	left: 20px;
	top: 42px;
	width: 30px;
	height: 600px;
}

.jumper-button {
	position: fixed;
	left: 20px;
	width: 30px;
	height: 180px;
	top: 180px;
}

.note {
	margin: 30px auto;
	max-width: 700px;
}

.note-title {
	text-align: center;
	font-size: 24px;
	padding: 5px 5px;
	border-radius: 30px;
	background-color: #fde1ab;
	box-shadow: 0 1px 5px grey;
	cursor: pointer;
}

.note-title:hover {
	background: #ffea69;
}

.note-content-hidden {
	display: none;
}

.note-content-show {
	padding: 10px 20px;
	border-radius: 0 0 10px 10px;
}

.show-more {
	display: block;
	margin: 30px auto;
	text-align: center;
	padding: 5px;
	background-color: orange;
	border-radius: 15px;
	width: 150px;
	cursor:	pointer;
}


/************************  about page  ************************/


#myphoto {
	border-radius: 50%;
	box-shadow: 0 0 20px grey;
	margin-bottom: 40px 8px 0 8px;
	opacity: 0;
	animation:about_showup .5s;
	animation-fill-mode: forwards;
	max-width: 150px;
}

.self-intro {
 	margin: 16px auto;
	border-left:solid 4px black;
	border-radius: 4px;
	text-align: left;
	padding: 8px;
	font-size: 16px;
	opacity: 0;
	animation:about_showup .5s;
	animation-fill-mode: forwards;
}

@keyframes about_showup {
	to { opacity: 1; }
}


/************************  chart style  ************************/


.pie-area {
	display: inline-block;
	width: 500px;
	height: 400px;
	margin: 40px;
}

.box-area {
	display: inline-block;
	width: 128px;
	height: 208px;
	margin: 16px 30px;
	border-radius: 4px;
	border-style: solid;
	border-color: black;
	padding: 4px;
	background-color: #ecc06e;
}

.right-panel {
	display: inline-block;
	width: 208px;
	height: 280px;
	position: relative;
	bottom: 40px
}

.reset-button {
	display: inline-block;
	margin: auto;
	width: 100%;
	text-align: center;
}

.reset-button button {
	width: 50%;
	height: 28px;
	background-color: #ffd358;
	color: black;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	font-size: 14px;			
}

.reset-button button:hover {
	box-shadow: 1px 3px 5px 1px lightgrey;
}

.chart-area rect {
	cursor: pointer;
}

.record-area {
	margin: 16px;
	padding: 16px;
	border: 2px solid lightgrey;
	border-radius: 4px;
}

.record-area table {
	border-collapse: collapse;
	width: 100%;
}

.record-area th, td {
	padding: 8px;
	text-align: left;
}

.record-area td {
	font-size: 12px;
}

.record-area tr:nth-child(even) {
	background-color: #ddd;
}

.download-area {
	margin-top: 56px;
	padding-left: 16px;
}

.download-area a {
	display: inline-block;
	font-size: 16px;
	padding: 4px 8px;
	background-color: #ffd358;
	color: black;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	margin-right: 16px;			
}

.download-area a:hover {
	box-shadow: 1px 3px 5px 1px lightgrey;
	text-decoration: none;
}


