/* This css file is only used to define style for general elements in all templetes*/

/* link */
a {text-decoration: none; 
   text-transform: uppercase;
   color: black;}

/* pre */
pre {white-space: pre;
	 text-align: left;
	 background-color: #2a2b27;
	 border-radius: 5px;
	 color: #ffff28;
	 padding: 10px;}


/* top area */
.top {background-color: ;
	  margin: -10px -8px 0px;
	  height: 200px;}

.top-content {position: absolute; 
			  left: 50px; 
			  top: 35px;}

.website-name {font: Arial;
			   font-size: 75px;
			   margin-right: 30px;}

.stick {font: Arial;
		font-size: 70px; 
		position: relative; 
		bottom: 5px;}

.website-intro {font: Arial; 
				font-size: 40px; 
				margin-left: 30px;}

/* navigation */
.main-nav {background-color: #8a8a8a;
		   margin: 0px -8px 0px; 
		   height: 80px; 
		   text-align: center;}

.nav-content {list-style-type: none;
			  margin: 0px; 
			  padding: 0px; 
			  position: relative; 
			  top: 22px;}

.nav-button {display: inline;
			 padding-left: 20px; 
			 padding-right: 20px; 
			 font-size: 25px;
             transition: 150ms ease-out;}

.nav-button:hover {background-color: white;
				   background-size: 20px 20px;
				   font-size: 30px;
				   border-style:0px solid; 
				   border-radius: 8px;}

/* main body for article entry */
.main-body {width: 70%;
			margin: auto; 
			padding: 0px 30px;}

.entry {width: 80%; 
		margin: 60px auto; 
		padding: 15px 30px; 
		border-style: outset; 
		border-width: 5px 0px 5px 0px; 
		border-radius: 15px; 
		border-color: green;
		transition: 150ms ease-in-out}

.entry:hover {transform: scale(1.05);
			  -webkit-transform: scale(1.05);
			  box-shadow: 0px 0px 10px #6b6464}

footer {height: 35px;
		position: relative;}

.more-button {padding: 6px 25px;
			  font-size: 20px;
			  background-color: #076b00;
			  color: white;
			  position: absolute;
			  right: 0px;
			  border: none;
			  border-radius: 5px;}

.more-button:hover {background-color: rgba(7, 107, 0, 0.75)}

/* text in article */
h3 {font-size: 35px;
	margin: 20px 0px 10px 0px;}

.line {border-top: 3.5px solid;
	   border-color: green;
	   border-radius: 5px;}




/* Work-in-progress setting */
.work-in-progress-title {text-align: center;
						 margin-top: 150px;
						 font-size: 50px;}

.work-in-progress-picture {}









