@font-face {
    font-family: headfont;
    src: url("../fonts/Gloria_Hallelujah/GloriaHallelujah.ttf");
}

@font-face {
    font-family: titlefont;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: articlefont;
    src: url("../fonts//Roboto/Roboto-Regular.ttf");
}

body {
	font-family: articlefont, sans-serif;
	margin: 0px;
}

a {
	text-decoration: none; 
	text-transform: uppercase;
	color: black;
}

h1 {
	font-family: titlefont, sans-serif;
	margin: 20px 0px 10px 0px;
}

p {
	font-size: 20px;
	margin: 10px 0px;
}

pre {
	font-size: 20px;
	white-space: pre;
	text-align: left;
	background-color: #2a2b27;
	border-radius: 5px;
	color: #ffff28;
	padding: 10px;
	overflow: auto;
}

em {
	border-radius: 5px;
	padding: 1px 6px;
	background-color: #dedede;
	color: black
}


/* Welcome Page */
#welcome-body {
	background: url('../image/welcome-background.jpg') no-repeat center center fixed;
	background-size: cover;
	white-space: nowrap;
}

#welcome-middle {
	margin-top: 7%;
	text-align: center;
}

#welcome-middle>p {
	font-size: 75px;
	color: white;
	margin: 30px 0px;
	text-shadow: 0px 0px 20px black;
}

#welcome-button {
	margin-top: 80px;
	text-align: center;
}

#welcome-button>ul {
	list-style-type: none;
	padding: 0px;
}

#welcome-button>ul>li {
	display: inline-block;
	width: 120px;
	line-height: 30px;
	margin: 0px 30px;
	border:3px solid white;
	border-radius: 10px;
	padding:10px 20px; 
	font-size: 25px;
}

#welcome-button>ul>li>a {
	color: white;
}

#en>a {
	padding:10px 5px;
}

#cn>a {
	padding:10px 30px;
}



#en:hover {
	background-color: rgba(0, 37, 218, 0.5);
}

#cn:hover {
	background-color: rgba(210, 0, 0, 0.5);
}

#welcome-bottom {
	position: fixed;
	bottom: 5px;
	text-align: center;
	margin: auto;
	width: 100%;
}

#welcome-bottom>p {
	color: white;
	font-size: 15px;
}

/* top area */
.top {
	height: 280px;
}

.top-content {
	position: absolute; 
	left: 50px; 
	top: 80px;
	overflow: hidden;
}

.website-name {
	font-family: headfont, cursive;
	font-size: 80px;
	margin-right: 30px;}
.website-name:hover {
	color: #77a766;
}

.stick {
	font-family: titlefont, serif;
	font-size: 70px; 
	position: relative;
	bottom: 5px;
}

.website-intro {
	font-family: headfont, cursive;
	font-size: 35px; 
	margin-left: 30px;
}

#fork-me {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0; 
	z-index: 1;
}

.language-switch {
	position: absolute;
	top: 80px;
	right: 150px;
	width: 200px;
	background-color: none;
}

#language a {
	border-style: none;
	color: white;
	text-transform: initial;
	border-radius: 20px;
	padding: 5px 15px;
	font-size: 15px;
	background: linear-gradient(to right, rgba(0, 37, 218, 0.8), rgba(210, 0, 0, 0.8));
}

#language a:hover .language-switch {
	transform: scale(3);
}



/* navigation */
.main-nav {
	background-color: #4e4e4e;
	position: fixed; 
	height: 52px; 
	text-align: center;
	width: 100%;
	top: 0px;
	transition: 300ms;
	opacity: 0.9;
	z-index: 9999;
}

.nav-content {
	list-style-type: none;
	margin: 0px; 
	padding: 0px; 
	position: relative; 
	top: 10px;
}

.nav-button {
	display: inline;
	padding: 3px 20px;
	border: 0px;
	border-radius: 10px;
	font-size: 23px;
    transition: 150ms ease-out;
}

.nav-button>a {
	color: white
}

.nav-button:hover {
	background-color: white;
	background-size: 20px 20px;
	font-size: 28px;
}

.nav-button:hover>a {
	color: black;
}

/* main body for article entry */
.main-body {
	width: 70%;
	margin: auto; 
	padding: 0px 30px;
}

article {
	width: 80%; 
	margin: 60px auto; 
	padding: 15px 30px; 
	border-style: outset; 
	border-width: 5px 0px 5px 0px; 
	border-radius: 15px; 
	border-color: #3d903d;
	transition: 150ms ease-in;
	animation:blogappear 1s;
	animation-timing-function:cubic-bezier(0.19, 0.74, 0.21, 1.23);
}

article:hover {
	box-shadow: 0px 0px 10px #6b6464;
}

@keyframes blogappear {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@-webkit-keyframes blogappear {
	from {
		opacity: 0;
		top: 10px;
	}
	to {
		opacity: 1;
		top: 0px;
	}
}

header {
	margin-bottom: 20px;
}

.article-body a {
	text-decoration: none;
	text-transform: none;
	color: #4c8423;
}

.article-body p {
	line-height: 27px;
}

.article-body a:hover {
	text-decoration: underline;
}

.article-body img {
	display: block;
	max-width: 80%;
	max-height: 80%;
	margin: auto;
}

.article-body ul>li {
	font-size: 20px;
}

footer {
	position: relative;
	height: 35px;
}

.more-button {
	position: absolute;
	right: 0px;
	padding: 5px 20px;
	font-size: 20px;
	color: #076b00;
	background-color: white;
	border: 2px solid #076b00;
	border-radius: 20px;
	transition: 200ms;
}

.more-button>a {
	color: inherit;
}

.more-button:hover {
	background-color: #076b00;
	color: white;
}



/* text in article */
.article-title:hover {
	color: #77a766;
}

.line {
	border-top: 3.5px solid;
	border-color: #3d903d;
	border-radius: 5px;
}


/* bottom */
.bottom {
	background: -webkit-linear-gradient(170deg, #4e4e4e, #185011);
	background: linear-gradient(170deg, #4e4e4e, #185011);
	margin: 0px;
	height: 300px;
	width: 100%;
	margin-top: 50px;
	color: #f1b94d;
}

.info {
	position: relative;
	top: 30px;
	width: 70%;
	height: 75%;
	margin: auto;
}

.info a {
	color: #f3e6e6;
	text-decoration: underline; 
	text-decoration-style: dotted;
}

.info-left {
	float: left;
	width: 380px;
	margin-left: 50px;
}

.info-right {
	float: right;
	width: 25%;
	margin-right: 50px;

}

/* Work-in-progress setting */
.work-in-progress-title {
	text-align: center;
	margin: 100px 0px;
	font-size: 50px;
}

.not-found {
	display: block; 
	margin: auto;
}


/*  service page  */
.instruction {
	width: 70%;
	margin: 20px auto;
	background-color: #ecc06e;
	padding: 10px 30px;
	border-radius: 10px;
}

.instruction>ul>li {
	font-size: 20px;
	margin-bottom: 10px;
}

.input-area {
	width: 70%;
	margin: 30px auto;
	background-color: #d4d3d2;
	padding: 20px 30px;
	border-radius: 10px;	
}

.input-area>p {
	font-size: 30px;
	margin-bottom: 10px;
}

#input-line  {
	margin-bottom: 30px;
	font-size: 25px;
	padding: 3px;
}

.submit-button {
 	margin-top: 30px;
	font-size: 20px;
	padding: 3px 10px;
}

.password-area {
	width: 70%;
	margin: 30px auto;
	padding: 1px 30px;
	border-radius: 10px;
	background-color: #292926;
	text-align: center;
}

.password-area p {
	font-size: 22px;
	color: white;
}

.password {
	display: none;
}


/* chart style */
.pie-area {
	display: inline-block;
	width: 400px;
	height: 400px;
	margin: 0px 40px 0px 80px;
}

.box-area {
	display: inline-block;
	width: 160px;
	height: 260px;
	margin: 20px 40px;
	border-radius: 5px;
	border-style: solid;
	border-color: black;
	padding: 5px;
	background-color: #ecc06e;
}

.right-panel {
	display: inline-block;
	width: 260px;
	height: 350px;
	position: relative;
	bottom: 50px
}

.reset-button {
	display: inline-block;
	margin: auto;
	width: 100%;
	text-align: center;
}

.reset-button button {
	width: 50%;
	height: 35px;
	background-color: #ffd358;
	color: black;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 18px;			
}

.reset-button button:hover {
	box-shadow: 1px 3px 5px 1px lightgrey;
}

.chart-area rect {
	cursor: pointer;
}

.record-area {
	margin: 20px;
	padding: 20px;
	border: 2px solid lightgrey;
	border-radius: 5px;
}

.record-area table {
	border-collapse: collapse;
	width: 100%;
}

.record-area th, td {
	padding: 8px;
	text-align: left;
}

.record-area td {
	font-size: 15px;
}

.record-area tr:nth-child(even) {
	background-color: #ddd;
}

.download-area {
	margin-top: 70px;
	padding-left: 20px;
}

.download-area a {
	display: inline-block;
	font-size: 20px;
	padding: 5px 10px;
	background-color: #ffd358;
	color: black;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin-right: 20px;			
}

.download-area a:hover {
	box-shadow: 1px 3px 5px 1px lightgrey;
	text-decoration: none;
}




