<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<title>{{ article.title }}</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	<div class="top">
		<a href="https://github.com/linghaol/MyWebsite"><img style="position: absolute; top: 0; right: 0; border: 0" src="../static/image/forkme.png" alt="Fork me on GitHub"></a>
		<div class="top-content">
			<a class="website-name" href="/blogpage-cn">LinghaoL</a>
			<span class="stick">|</span>
			<span class="website-intro">Thinking makes sense.</span>
		</div>
	</div>
	<nav class="main-nav">
		<ul class="nav-content">
			<li class="nav-button"><a href="/blogpage-cn">博客</a></li>
			<li class="nav-button"><a href="/service">服务</a></li>
			<li class="nav-button"><a href="/stats-cn">统计</a></li>
			<li class="nav-button"><a href="/about-cn">关于</a></li>
		</ul>
	</nav>
	<div class="main-body">
		<article>
	    	<header>
	        	<h1>{{ article.title }}</h1>
	        	<p class="line"></p>
				<p>作者: {{ article.author }}</p>
				<p>日期: {{ article.time }}</p>
				</br>
	    	</header>
			{{ article.detail|safe }}
		</article>
	</div>
	<div class="bottom"></div>
</body>
</html>
