<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<title>Blog Page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">	
</head>
<body>
	<div class="top">
		<a href="https://github.com/linghaol/webapp"><img style="position: absolute; top: 0; right: 0; border: 0" src="../static/image/forkme.png" alt="Fork me on GitHub"></a>
		<div class="top-content">
			<a class="website-name" href="./index.html">website name</a>
			<span class="stick">|</span>
			<span class="website-intro">website introduction</span>
		</div>
	</div>
	<nav class="main-nav">
		<ul class="nav-content">
			<li class="nav-button"><a href="./blogpage.html">blog</a></li>
			<li class="nav-button"><a href="./stats.html">stats</a></li>
			<li class="nav-button"><a href="./about.html">about</a></li>
		</ul>
	</nav>
	<div class="main-body">
		<article class="entry">  
	    	<header>
	        	<h2>Title of article</h2> 
	        	<p><time pubdate datetime="2009-10-09T14:28-08:00"></time></p>
	    	</header>
	    	<p>This is article introduction</p>
	    	<footer>
	        	<p>Can be something else</p>
	    	</footer>
		</article>
	</div>
</body>
</html>