<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<title>错误</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">	
</head>
<body>
	<div class="top">
		<a id="fork-me" href="https://github.com/linghaol/MyWebsite"><img src="../static/image/forkme.png" alt="Fork me on GitHub"></a>
		<div class="top-content">
			<a class="website-name" href="/blogpage-cn">LINGHAOL</a>
			<span class="stick">|</span>
			<span class="website-intro">Thinking makes sense.</span>
		</div>
		<div class="language-switch">
			<span id="language"><a href="/error">语言切换</a></span>
		</div>		
	</div>
	<nav class="main-nav">
		<ul class="nav-content">
			<li class="nav-button"><a href="/blogpage-cn">博客</a></li>
			<li class="nav-button"><a href="/service-cn">服务</a></li>
			<li class="nav-button"><a href="/stats-cn">统计</a></li>
			<li class="nav-button"><a href="/about-cn">关于</a></li>
		</ul>
	</nav>
	<div class="main-body">
		<p class="work-in-progress-title">正在搭建中...</p>
		<img class="not-found" src="../static/image/404.png">
	</div>
	<div class="bottom"></div>
</body>
</html>
