<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<title>Service</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="../static/js/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".submit-button").click(function(){
				var userinput = $("#input-line").val();
				if (userinput == "") {
					alert("Error: Empty input. Please try again.")
				}
				else {
					$.ajax({
						url: "/verification",
						data: $("form").serialize(),
						type: "POST",
						success: function(response){
							var data = JSON.parse(response)
							if (data.status == "success") {
								$("#password").css("color", "yellow");
								$("#password").text("Password: " + data.password);
								$("#password").slidedown("slow");
							} 
							else {
								$("#password").css("color", "red");
								$("#password").text("Error: " + data.error_message);
								$("#password").slidedown("slow");
							}
						}
					});
					return false;
				}
			});
		});
</script>
</head>
<body>
	<div class="top">
		<a id="fork-me" href="https://github.com/linghaol/MyWebsite"><img src="../static/image/forkme.png" alt="Fork me on GitHub"></a>
		<div class="top-content">
			<a class="website-name" href="/blogpage">LINGHAOL</a>
			<span class="stick">|</span>
			<span class="website-intro">Thinking makes sense.</span>
		</div>
		<div class="language-switch">
			<span id="language"><a href="/service-cn">language switch</a></span>
		</div>	
	</div>
	<nav class="main-nav">
		<ul class="nav-content">
			<li class="nav-button"><a href="/blogpage">blog</a></li>
			<li class="nav-button"><a href="/service">service</a></li>
			<li class="nav-button"><a href="/stats">stats</a></li>
			<li class="nav-button"><a href="/about">about</a></li>
		</ul>	
	</nav>
	<div class="main-body">
		<div class="instruction">
			<h2>Instruction for VPN service</h2>
			<h4>Note:</h4>
			<ul class="notes">
				<li>This service is not open to the public and not commercial.</li>
				<li>Study and simple work only.</li>
				<li>This service is based on Shadowsocks.</li>
				<li>The password will be updated automatically everyday. Therefore, whenever you need to use, please get current password here.</li>
				<li>If you want to use, please contact me in private.</li>
				<li><strong style="font-size: 22px;">Do not share your user id or password to anyone else!</strong></li>
			</ul>
			<h4>Step:</h4>
			<ul>
				<li>Contact me first, if you didn't get permission.</li>
				<li>Download Shadowsocks client. <a href="https://github.com/shadowsocks/shadowsocks-windows/releases/download/4.0.6/Shadowsocks-4.0.6.zip" style="text-decoration: underline; text-transform: none;">Windows</a> | <a href="https://github.com/shadowsocks/ShadowsocksX-NG/releases/download/v1.6.0/ShadowsocksX-NG.1.6.0.zip" style="text-decoration: underline; text-transform: none;">Mac OS X</a></li>
				<li>Unzip, install, run.</li>
				<li>Enter <strong style="font-size: 22px;">vpn.linghaol.com</strong>  in "Server Adress" and keep others unchanged. Comfirm.</li>
				<li>Please enter your user id below and get current password.</li>
				<li>You should find the "paper plane" icon, then start system proxy. Done! (switch to global mode if necessary)</li>	
			</ul>
		</div>
		<div class="input-area">
			<form>
				<p>Please enter your unique id:</p>
				<input type="text" name="user_id" id="input-line">
				<div class="g-recaptcha" data-sitekey="6LetGDEUAAAAAFyfQnhbe81udbh1BTeFYY7Md4_y"></div>
				<button class="submit-button">Submit</button>
			</form>
		</div>
		<div class="password-area">
			<p>Response:</p>
			<p id="password"></p>
		</div>
	</div>
	<div class="bottom">
		<div class="info">
			<div class="info-left">
				<p style="font-size: 30px; margin: 20px">A self-designed, built and maintained blog website based on <a href="http://flask.pocoo.org/">Flask</a>.</p>
				<p style="margin: 20px 20px 0px">Powererd by <a href="http://nginx.org/">NGINX</a>, <a href="http://gunicorn.org/">Gunicorn</a> and <a href="https://www.docker.com/">Docker</a></p>
			</div>
			<div class="info-right">
				<p style="font-size: 25px; margin: 80px 20px 0px;">Contact:</p>
				<p style="margin: 20px 20px; color: #f3e6e6">linghaol@usc.edu</p>
			</div>
		</div>
		<div style="position: relative; text-align: center; top: 30px; color: #f3e6e6">
			<p>linghaol.com 2017</p>
		</div>
	</div>
</body>
</html>