<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<title>服务</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="../static/js/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".submit-button").click(function(){
				var userinput = $("#input-line").val();
				if (userinput == "") {
					alert("Error: Empty input. Please try again.")
				}
				else {
					$.ajax({
						url: "/verification-cn",
						data: $("form").serialize(),
						type: "POST",
						success: function(response){
							var data = JSON.parse(response)
							if (data.status == "success") {
								$("#password").css("color", "yellow");
								$("#password").text("密码: " + data.password);
								$("#password").slidedown("slow");
							} 
							else {
								$("#password").css("color", "red");
								$("#password").text("错误: " + data.error_message);
								$("#password").slidedown("slow");
							}
						}
					});
					return false;
				}
			});
		});			
	</script>
</head>
<body>
	<div class="top">
		<a id="fork-me" href="https://github.com/linghaol/MyWebsite"><img src="../static/image/forkme.png" alt="Fork me on GitHub"></a>
		<div class="top-content">
			<a class="website-name" href="/blogpage">LINGHAOL</a>
			<span class="stick">|</span>
			<span class="website-intro">Thinking makes sense.</span>
		</div>
		<div class="language-switch">
			<span id="language"><a href="/service">语言切换</a></span>
		</div>	
	</div>
	<nav class="main-nav">
		<ul class="nav-content">
			<li class="nav-button"><a href="/blogpage-cn">博客</a></li>
			<li class="nav-button"><a href="/service-cn">服务</a></li>
			<li class="nav-button"><a href="/stats-cn">统计</a></li>
			<li class="nav-button"><a href="/about-cn">关于</a></li>
		</ul>
	</nav>
	<div class="main-body">
		<div class="instruction">
			<h2>VPN 服务使用说明</h2>
			<h4>注意:</h4>
			<ul class="notes">
				<li>该服务不对外开放, 也非商用.</li>
				<li>仅供学习和简单工作使用.</li>
				<li>该服务基于 Shadowsocks.</li>
				<li>密码将每天自动更新. 因此, 请确保在使用前登录该页面获取.</li>
				<li>如果您希望使用该服务, 请与我联系.</li>
				<li><strong style="font-size: 22px;">请不要将您的ID或者密码分享给任何人!</strong></li>
			</ul>
			<h4>步骤:</h4>
			<ul>
				<li>请先与我联系, 如果您还未获得许可.</li>
				<li>下载 Shadowsocks 客户端. <a href="https://github.com/shadowsocks/shadowsocks-windows/releases/download/4.0.6/Shadowsocks-4.0.6.zip" style="text-decoration: underline; text-transform: none;">Windows</a> | <a href="https://github.com/shadowsocks/ShadowsocksX-NG/releases/download/v1.6.0/ShadowsocksX-NG.1.6.0.zip" style="text-decoration: underline; text-transform: none;">Mac OS X</a></li>
				<li>解压, 安装, 运行.</li>
				<li>在"服务器地址"内输入 <strong style="font-size: 22px;">vpn.linghaol.com</strong> 并保持其他不变.</li>
				<li>请在下边输入您的ID并获取当时的密码.</li>
				<li>确认后, 您应该能在右下角找到纸飞机图标,启动系统代理, 完成! (如有必要, 请切换到全局模式)</li>	
			</ul>
		</div>
		<div class="input-area">
			<form>
				<p>请输入您的ID:</p>
				<input type="text" name="user_id" id="input-line">
				<button class="submit-button">提交</button>
			</form>
		</div>
		<div class="password-area">
			<p>响应:</p>
			<p id="password"></p>
		</div>
	</div>
	<div class="bottom">
		<div class="info">
			<div class="info-left">
				<p style="font-size: 30px; margin: 20px">A self-designed, built and maintained blog website based on <a href="http://flask.pocoo.org/">Flask</a>.</p>
				<p style="margin: 20px 20px 0px">Powererd by <a href="http://nginx.org/">NGINX</a>, <a href="http://gunicorn.org/">Gunicorn</a> and <a href="https://www.docker.com/">Docker</a></p>
			</div>
			<div class="info-right">
				<p style="font-size: 25px; margin: 80px 20px 0px;">联系:</p>
				<p style="margin: 20px 20px; color: #f3e6e6">linghaol@usc.edu</p>
			</div>
		</div>
		<div style="position: relative; text-align: center; top: 30px; color: #f3e6e6">
			<p>linghaol.com 2017</p>
		</div>
	</div>
</body>
</html>