<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<title>{{ article.title }}</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	{% if "script_header" in article %}
		{% for sc1 in article.script_header %}
			<script src="{{ sc1 }}"></script>
		{% endfor %}
	{% endif %}
</head>
<body>
	<div class="top">
		<a id="fork-me" href="https://github.com/linghaol/MyWebsite"><img src="../static/image/forkme.png" alt="Fork me on GitHub"></a>
		<a class="website-name" href="/blogpage">LINGHAOL</a>
	</div>
	<nav class="main-nav">
		<ul class="nav-content">
			<li><a class="nav-button" href="/blogpage_cn">博客</a></li>
			<li><a class="nav-button" href="/service_cn">服务</a></li>
			<li><a class="nav-button" href="/pynotes_cn">Py笔记</a></li>
			<li><a class="nav-button" href="/about_cn">关于</a></li>
		</ul>
	</nav>
	<div class="main-body">
		<article>
	    	<header>
	        	<h1>{{ article.title }}</h1>
	        	<p class="line"></p>
				<p>作者: {{ article.author }}</p>
				<p>日期: {{ article.date }}</p>
	    	</header>
	    	<div class="article-body">
	    		{{ article.detail|safe }}
	    	</div>
		</article>
	</div>
	<div class="bottom">
		<div class="info">
			<div class="info-left">
				<p id="info-left-text1">A self-designed, built and maintained blog website based on <a href="http://flask.pocoo.org/">Flask</a>.</p>
				<p id="info-left-text2">Powererd by <a href="http://nginx.org/">NGINX</a>, <a href="http://gunicorn.org/">Gunicorn</a> and <a href="https://www.docker.com/">Docker</a></p>
			</div>
			<div class="info-right">
				<p id="info-right-text1">联系:</p>
				<ul id="info-right-text2">
					<li>linghaol@usc.edu</li>
					<li>linghao_li@163.com</li>
				</ul>
			</div>
		</div>
		<div class="site-mark">
			<p>linghaol.com 2017-2019</p>
		</div>
	</div>
	{% if "script_body" in article %}
		{% for sc2 in article.script_body %}
			<script src="{{ sc2 }}"></script>
		{% endfor %}
	{% endif %}	
</body>
</html>
