<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<title>{{ article.title }}</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	{% if "script_header" in article %}
		{% for sc1 in article.script_header %}
			<script src="{{ sc1 }}"></script>
		{% endfor %}
	{% endif %}
</head>
<body>
	<div class="top">
		<a id="fork-me" href="https://github.com/linghaol/MyWebsite"><img src="../static/image/forkme.png" alt="Fork me on GitHub"></a>
		<div class="top-content">
			<a class="website-name" href="/blogpage">LinghaoL</a>
			<span class="stick">|</span>
			<span class="website-intro">Thinking makes sense.</span>
		</div>
	</div>
	<nav class="main-nav">
		<ul class="nav-content">
			<li class="nav-button"><a href="/blogpage">blog</a></li>
			<li class="nav-button"><a href="/service">service</a></li>
			<li class="nav-button"><a href="/stats">stats</a></li>
			<li class="nav-button"><a href="/about">about</a></li>
		</ul>
	</nav>
	<div class="main-body">
		<article>
	    	<header>
	        	<h1>{{ article.title }}</h1>
	        	<p class="line"></p>
				<p>Author: {{ article.author }}</p>
				<p>Date: {{ article.date }}</p>
	    	</header>
	    	<div class="article-body">
	    		{{ article.detail|safe }}
	    	</div>
		</article>
	</div>
	<div class="bottom">
		<div class="info">
			<div class="info-left">
				<p style="font-size: 30px; margin: 20px">A self-designed, built and maintained blog website based on <a href="http://flask.pocoo.org/">Flask</a>.</p>
				<p style="margin: 20px 20px 0px">Powererd by <a href="http://nginx.org/">NGINX</a>, <a href="http://gunicorn.org/">Gunicorn</a> and <a href="https://www.docker.com/">Docker</a></p>
			</div>
			<div class="info-right">
				<p style="font-size: 25px; margin: 80px 20px 0px;">Contact:</p>
				<p style="margin: 20px 20px; color: #f3e6e6">linghaol@usc.edu</p>
			</div>
		</div>
		<div style="position: relative; text-align: center; top: 30px; color: #f3e6e6">
			<p>linghaol.com 2017-2019</p>
		</div>
	</div>
	{% if "script_body" in article %}
		{% for sc2 in article.script_body %}
			<script src="{{ sc2 }}"></script>
		{% endfor %}
	{% endif %}	
</body>
</html>
