<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<title>博客</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">	
</head>
<body>
	<div class="top">
		<a id="fork-me" href="https://github.com/linghaol/MyWebsite"><img src="../static/image/forkme.png" alt="Fork me on GitHub"></a>
		<a class="website-name" href="/blogpage_cn">LINGHAOL</a>
		<ul class="language-switch">
			<li><a class="lang-en" href="/blogpage">EN</a></li>
			<li>|</li>
			<li><a class="lang-zh" href="/blogpage_cn">ZH</a></li>
		</ul>
	</div>
	<nav class="main-nav">
		<ul class="nav-content">
			<li><a class="nav-button" href="/blogpage_cn">博客</a></li>
			<li><a class="nav-button" href="/service_cn">服务</a></li>
			<li><a class="nav-button" href="/pynotes_cn">Py笔记</a></li>
			<li><a class="nav-button" href="/about_cn">关于</a></li>
		</ul>
	</nav>
	<div class="main-body">
	{% for item in itemList %}
		<article class="entry"> 
	    	<header>
	        	<a href="/blog/{{ item.link }}_cn"><h1 class="article-title">{{ item.title }}</h1></a>
	        	<p class="line"></p>
	        	<img class="article-author" src="{{ item.author }}">
	        	<span class="article-date">{{ item.date }}</span>
	    	</header>
	    	<div class="article-body">
	    		{{ item.intro|safe }}
	    	</div>
	    	<footer>
	        	<a class="more-button" href="/blog/{{ item.link }}_cn">详细</a>
	    	</footer>
		</article>
	{% endfor %}
	</div>
	<div class="bottom">
		<div class="info">
			<div class="info-left">
				<p id="info-left-text1">A self-designed, built and maintained blog website based on <a href="http://flask.pocoo.org/">Flask</a>.</p>
				<p id="info-left-text2">Powererd by <a href="http://nginx.org/">NGINX</a>, <a href="http://gunicorn.org/">Gunicorn</a> and <a href="https://www.docker.com/">Docker</a></p>
			</div>
			<div class="info-right">
				<p id="info-right-text1">联系:</p>
				<ul id="info-right-text2">
					<li>linghaol@usc.edu</li>
					<li>linghao_li@163.com</li>
				</ul>
			</div>
		</div>
		<div class="site-mark">
			<p>linghaol.com 2017-2019</p>
		</div>
	</div>
</body>
</html>
